@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Raleway&display=swap');
@import './responsive';
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

.header-back {
    background-image: url('../img/banner.png');
    height: 39.2rem;
    width: 100%;
    color: white;
    font-size: 14px;
    // position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .info-top {
        padding-top: 0.5rem;
        font-family: 'Raleway', sans-serif;
    }

    .icons-header {
        margin-right: 1rem;


        i {
            font-size: 14px;
        }
    }

    .phone-header {
        margin-right: 1rem;

        i {
            margin-right: 5px;
            font-size: 14px;
        }
    }

    .email-header {
        margin-right: 1rem;

        i {
            margin-right: 5px;
            font-size: 14px;
        }
    }
}

.logo-part {
    float: left;
    width: 100%;

    .logo {
        width: 31rem;
        float: right;
    }

    img {
        height: 5rem;
        width: 10rem;

    }

}

.header-main {
    padding-top: 1rem;

    .main-menu {
        width: 100%;
        float: right;

        .navbar {
            padding-right: 0;


            background: #00000069;
            padding: 10px;

            transform: skewX(-38deg);

            .menu {
                border: 1px solid white;
                width: 100%;
            }

            .collapse {
                transform: skewX(38deg);
            }

            .nav-item {
                .nav-link {
                    color: white;
                    font-family: 'Raleway', sans-serif;
                    font-size: 16px;
                    margin-right: 1rem;
                }
            }
        }

    }
}

.header-mob {
    background: #00000069;

    .navbar-mob {
        i {
            color: white;
            border: 1px solid white;
            padding: 8px;
        }

        img {
            height: 4rem;
        }

        .nav-item {
            .nav-link {
                color: white;
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                margin-right: 1rem;
            }
        }
    }
}

.header-sticky {
    background: #00000069;
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;

    .navbar-mob {
        i {
            color: white;
            border: 1px solid white;
            padding: 8px;
        }

        img {
            height: 4rem;
        }

        .nav-item {
            .nav-link {
                color: white;
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                margin-right: 1rem;
            }
        }
    }

}

.sticky {

    opacity: 1;
    top: 0px;

}

.wooden-work {
    h2 {
        color: #67973F;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;

        span {
            color: white;
        }
    }

    p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        margin-top: 1rem;
        font-style: italic;
        margin-bottom: 1rem;
    }

    .row {
        margin-left: 0;

        .btn {
            border: 1px solid white;
            margin-right: 2rem;
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            color: white;
            margin-top: 2rem;
            position: relative;
            border-radius: 0;
            transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

            &:hover {
                background: #67973F;
            }

        }
    }

    img {
        float: right;
    }
}

.intro-wood {
    h3 {
        text-transform: uppercase;
        font-weight: 900;

        font-family: 'Alegreya', serif;
    }

    p {
        color: #AEAEAE;
        font-size: 18px;
        margin-top: 1rem;
    }

    .accordion {
        .d-flex {
            gap: 15px;
        }

        cursor: pointer;
        font-size: 18px;
        margin-top: 3rem;
        font-family: "Raleway",
        sans-serif;
        color: #67973F;
        font-weight: 600;

        i {
            color: #67973F;
            border: 1px solid #67973F;
            border-radius: 50px;
        }

        .content {
            background: #aeaeae40;
            padding: 0;
            overflow: hidden;
            max-height: 0;
            font-size: 16px;
            transition: all 0.2s ease;

            p {
                color: #6564649e;
            }
            .active{

                padding: 10px!important;
                max-height: 5rem!important;
            }
        }

    }

    .accordion2 {
        .d-flex {
            gap: 15px;
        }

        cursor: pointer;
        font-size: 18px;
        margin-top: 1rem;
        font-family: "Raleway",
        sans-serif;
        color: #67973F;
        font-weight: 600;

        i {
            color: #67973F;
            border: 1px solid #67973F;
            border-radius: 50px;
        }

        .content {
            background: #aeaeae40;
            padding: 0;
            overflow: hidden;
            max-height: 0;
            font-size: 16px;

            p {
                color: #6564649e;
            }

        }
    }

    .loja img {
        margin-top: 3rem;
    }
}
